<div id="wrapper" >
  <acme-navbar></acme-navbar>


  <div id="page-wrapper">
    <!--<div class="container-fluid">-->
      <div class="row">
        <!--<div class="col-lg-12">
          <h4 ng-if="vm.getTabs =='TTTrackTrains'" class="page-header">Timetable Adherence Track Trains</h4>
          <h4 ng-if="vm.getTabs =='TTPercentile'" class="page-header">Timetable Adherence Percentiles</h4>
        </div>-->
        <div class="tabscss col-lg-12 col-xl-8">
          <uib-tabset justified="true" active="active">
            <uib-tab index="0" heading={{vm.pageHeader}}>
              <div ng-if="vm.getTabs =='TTTrackTrains'" class="tab-container" id="index0">
                <div class="subtitle row" style="font-size: 0.8em">
                  <div class="col-md-12">
                    <div ng-bind-html="vm.subTitle"></div>
                  </div>
                </div>
                <div ng-show="!vm.TTAdherenceTrackTrainsError">
                  <div cg-busy="{promise:vm.promise, message:'Loading your chart', minDuration:1000}">
                    <div id="trainGraph"></div>
                  </div>
                  <!--<pre>You are currently on page {{vm.currentPage}}</pre>-->
                  <!--<ul uib-pager items-per-page=2 total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageOnclick(vm.currentPage)"></ul>-->
                </div>

                <div ng-show="vm.TTAdherenceTrackTrainsError" ng-bind-html="vm.TTAdherenceTrackTrainsErrorMessage"></div>
              </div>
              <!-- <div class="panel-footer">Panel Footer</div> -->
              <!--</div>-->
              <div ng-if="vm.getTabs =='TTPercentile'" class="tab-container" id="index0">
                <div class="subtitle row" style="font-size: 0.8em" ng-bind-html="vm.subTitle"></div>
                <div cg-busy="{promise:vm.promise, message:'Loading your chart', minDuration:1000}">
                  <div ng-show="!vm.TTAdherenceTrackTrainsError">
                    <div id="trainGraph"></div>
                  </div>
                  <div ng-show="vm.TTAdherenceTrackTrainsError" ng-bind-html="vm.TTAdherenceTrackTrainsErrorMessage"></div>
                </div>
              </div>

            </uib-tab>

          </uib-tabset>

          <!-- /.col-lg-12 -->
          <div>

          </div>
        </div>


      </div>
    <!--</div>-->
  </div>
</div>