@import 'variables';
@import 'mixins';

@-webkit-keyframes anim-pulse{
  0%   {
    opacity: 0 ;
  -webkit-transform : scale(.5);
    }
  10% {
    opacity: 1 ;
  }

  90% {
    opacity: 0 ;
  }

  100% {
    -webkit-transform : scale(1.25)
  }
}





.c3-region.regionX{
    fill: green;
  }


.c3 .c3-axis-x path, .c3 .c3-axis-x line {
  stroke: #8c8c8c;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
  /*stroke: transparent;*/
  stroke: #8c8c8c;
}
.c3 .c3-axis-y2 path, .c3 .c3-axis-y2 line {
  /*stroke: transparent;*/
  stroke: $c3-brown;
}

