@import 'variables';
@import 'mixins';

@-webkit-keyframes anim-pulse{
  0%   {
    opacity: 0 ;
  -webkit-transform : scale(.5);
    }
  10% {
    opacity: 1 ;
  }

  90% {
    opacity: 0 ;
  }

  100% {
    -webkit-transform : scale(1.25)
  }
}







