//colors
$color_gray_nurse_20_approx: rgba(234, 234, 234, 0.2);

.scrollable-menu {
	overflow-y: scroll;
	height: 100vh;
	margin-bottom: -101px;
}
.scrollable-sub-menu {
	max-height: 400px;
	overflow: hidden;
	overflow-y: auto;
}
@media(max-width:768px) {
	#menu-toggle {
		display: none;
	}
	#wrapper.toggled {
		#sidebar-wrapper {
			.sidebar {
				width: 100%;
			}
			ul li {
				.masked {
					display: inline-block;
					display: initial;
				}
				ul {
					position: relative;
					left: 0;
					margin-top: 0;
					background-color: none;
					width: 100%;
					z-index: 17;
					li ul {
						margin-left: 0;
					}
				}
			}
		}
		#page-wrapper {
			margin: 0;
		}
	}
}
#wrapper.toggled {
	#sidebar-wrapper {
		.sidebar {
			width: 50px;
		}
		ul li {
			.masked {
				display: none;
			}
			ul {
				position: absolute;
				left: 51px;
				margin-top: -40px;
				background-color: $color_gray_nurse_20_approx;
				width: 200px;
				z-index: 17;
				li ul {
					position: relative;
					margin-top: 0;
					margin-left: -51px;
				}
			}
		}
	}
	#page-wrapper {
		margin: 0 0 0 50px;
	}
}